{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">

    <div class="col-3 text-center" style="border-right: 1px solid rgb(169, 169, 169);">
        <br><br><br><br>

        <form class="d-flex" role="search" action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Username" aria-label="Search" name="username">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <br>
        <div class="text-center">
            <a href="#" class="btn border-0 text-primary fw-bold" style="padding: 10px;">#funny</a>
            <a href="#" class="btn border-0 text-primary fw-bold" style="padding: 10px;">#technology</a>
            <a href="#" class="btn border-0 text-primary fw-bold" style="padding: 10px;">#art</a>
            <a href="#" class="btn border-0 text-primary fw-bold" style="padding: 10px;">#science</a>
            <a href="#" class="btn border-0 text-primary fw-bold" style="padding: 10px;">#politics</a>
        </div><br>
        <a href="{% url 'tweet' %}" class="btn fw-bold "
            style="border-radius: 9999px;padding-left: 32px;
            padding-right: 32px;  color: white;   background-color: rgb(29, 155, 240);border-color: rgba(0, 0, 0, 0); ">
            Tweet</a>
    </div>
    <div class="col-8">
        <h1 class="text-center">Tweets</h1>
        <hr>
        <br>
        {% for tweet in tweets %}
        <div class="card border-light" style="width: 50rem; margin-left: 2rem; background-color: white;">
            <div class="card-header fw-bold">
                <div class="row">

                    <div class="col-1">

                        <img src="{{ tweet.user.profile.get_photo_url }}" alt="Profile Picture"
                            style="width: 40px; height: 40px; border: 1px solid white;" class="rounded-circle">

                    </div>


                    <div class="col-9 align-self-center">
                        <a href="{% url 'profile' tweet.user.id %}" class="btn border-0">{{ tweet.user }}</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ tweet.body }}</p>
                {% if tweet.image %}
                <img src="{{ tweet.image.url }}" alt="tweet image" style="height: 250px; width: 300px;">
                {% endif %}

            </div>
            <div class="card-footer fw-light fst-italic ">
                <div class="row">
                    <div class="col-9">{{ tweet.created_at }}</div>
                    <div class="col-3">
                        {{tweet.like_counter}} likes
                        <a href="{% url 'like_tweet' tweet.id %}">
                            {% if user in tweet.likes.all %}
                            <i class="fa-solid fa-heart"></i>
                            {% else %}
                            <i class="fa fa-heart-o"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>

            </div>
        </div> <br>

        {% endfor %}

    </div>
</div>

{% endblock %}