{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
    <h1>You are already logged in!</h1>
    {% else %}
    <h1 class="text-center">Login</h1>

    <hr>
    <br>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username" placeholder=" Enter your username here">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter you password here">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
</div>

{% endblock %}